.wrapper{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.wrapper-bg {
  position: relative;
  background-color: var(--background-color);
  min-height: 100vh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: calc(35vmin + 2rem);
    bottom: 0;
    border-radius: 10px;
    margin: 4px;
    background-color: var(--bs-body-bg);
    z-index: 1;
  }
  .pokemon-id{
    position: absolute;
    z-index: 0;
    font-size: 20vmin;
    opacity: .5;
    top: 0;
    right: 0;
    line-height: .8;
  }
  > * {
    z-index: 2;
  }
}

.btn-back{
  width: 1.5rem;
  display: grid;
  place-items: center;
  svg {
    width: 1rem;
    aspect-ratio: 1;
  }
}

.control {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 0;
  width: 2rem;
  background-color: transparent;
  display: grid;
  place-content: center;
  &::before {
    content: "";
    border: 8px solid transparent;
  }
  &.inactive {
    display: none;
  }
  &.control-prev {
    left: 0;
    transform: translateX(-125%);
    &::before {
      border-right-color: black;
    }
  }
  &.control-next {
    right: 0;
    transform: translateX(125%);
    &::before {
      border-left-color: black;
    }
  }
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-img {
  object-fit: cover;
  width: clamp(160px, 40vmin, 400px);
}

.type-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.tabs-container {
  --border-color: rgb(165, 165, 165);
  --border-color: var(--background-color);
  display: flex;
  flex-direction: column;
  background-color: var(--bs-body-bg);

  .nav-tabs {
    --bs-nav-tabs-border-color: var(--border-color);
    display: flex;
    .nav-tab-btn {
      transition: var(--default-anim-duration);
      color: var(--border-color);
      padding: 0.5rem 1rem;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid transparent;
      margin-bottom: -1px;
      font-weight: 600;
      opacity: .5;
      &:hover,
      &.active {
        --border-color: var(--background-strong-color);
        opacity: 1;
      }
    }
  }
  .tabs-content-container {
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    .tab-content {
      position: relative;
      overflow: hidden;
      width: 100%;
      transition: var(--default-anim-duration);
      &.inactive {
        visibility: hidden;
        height: calc(100% - 1rem);
        top: 1rem;
        left: 1rem;
      }
      &.prev {
        position: absolute;
        transform: translateX(calc(-100% - 1rem));
      }
      &.next {
        position: absolute;
        transform: translateX(calc(100% + 1rem));
      }
    }
  }
}

@media (min-width: 1024px) {
  .wrapper-bg .pokemon-id{
    right: -1rem;
  }
  .pokemon-info {
    max-width: clamp(400px, 520px, 100%);
  }
  .tabs-container {
    width: clamp(400px, 520px, 100%);
    border-radius: 10px;
    // height: clamp(300px, 400px, 50vh);
  }
}
