:host {
  display: table-row;
  position: relative;
  text-wrap: nowrap;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  height: 2.5rem;
}

:host:hover{
  background-color: var(--background-color);
}

:host::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: .5rem;
  background: var(--bs-border-color);
}

:host.loaded::before{
  display: none;
}

td{
  font-size: small;
  line-height: 1;
  font-weight: 600;
  vertical-align: middle;
}

.type{
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  &:hover{
    scale: (1);
  }
}
