<div class="table-responsive">
  <table class="table">
    <thead class="text-uppercase">
      <tr>
        <th class="text-center fw-semibold">
          lv
        </th>
        <th class="fw-semibold">
          Nome
        </th>
        <th class="text-center fw-semibold">
          ACC
        </th>
        <th class="text-center fw-semibold">
          PWR
        </th>
        <th class="text-center fw-semibold">
          TIPO
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="pokemon">
        <ng-container *ngFor="let moveslot of pokemon.moves">
            <app-moveset-row
            [movesetUrl]="moveslot.move.url"
            [level]="moveslot.levelLearned"
            [style]="'--background-color: var(--bs-type-'+ pokemon.types[0].type.name +'-light)'"
            class="border-bottom"></app-moveset-row>
          </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
