<ng-container *ngIf="moveset && loaded && level">
  <td class="text-capitalize text-center" (click)="onClick()">
    {{level}}
  </td>
  <td class="text-capitalize" (click)="onClick()">
    {{moveset.name}}
  </td>
  <td class="text-center" (click)="onClick()">
    {{moveset.accuracy?? 100}}
  </td>
  <td class="text-center" (click)="onClick()">
    {{moveset.power?? 100}}
  </td>
  <td class="text-center text-uppercase" (click)="onClick()">
    {{moveset.damage_class.name}}
  </td>
</ng-container>
